form
{width:340px;
   height:620px;
margin:10px auto;
background:#3d3b3d;
border-radius:8px;
}

input
{width:100%;
border:none;
}


input
{width:100%;

 height:30px;  
 margin:10px auto;
border-radius:24px;
background:lightgray;
box-shadow:inset 1px 1px 3px 2px; 
font-size:20px; 
   text-align:center;
}



button
{background:#7ba428;
width:100%;
border-radius:24px;
border:none;
box-shadow:inset 1px 1px 3px 2px;}

body
{font-size:25px;
font-family:nunito;}

textarea
{width:100%;
 height:50px;
 font-size:20px;  
background:lightgray;
border-radius:24px;
border:none;
margin-bottom:10px;
box-shadow:inset 1px 1px 3px 2px; 
   text-align:center;
}


label
{font-family:"nunito",sans-serif;
  
   display:inline-block;
color:white;
}


h3
{text-align:center;
font-family:"nunito",sans-serif;
   
margin:0;}


select
{width:100%;
background:lightgray;
box-shadow:inset 1px 1px 3px 2px;   
 font-size:20px;  
height:50px;
font-family:"nunito",sans-serif;
border-radius:24px;
border:none;}

optgroup
{font-size:15px;
   
}

fieldset
{border:none;}

input:focus
{font-size:20px;border-radius:0%;}

select:focus
{border-radius:0%;}

textarea:focus
{border-radius:0%;}
